certifi==2019.3.9
chardet==3.0.4
dill==0.2.9
future==0.17.1
idna==2.8
marisa-trie==0.7.5
nltk==3.4
numpy==1.16.2
pandas==0.24.2
pythainlp==1.7.4
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
singledispatch==3.4.0.3
six==1.12.0
tinydb==3.13.0
torch==1.0.1.post2
tqdm==4.31.1
urllib3==1.26.5
